@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Home Page";
}
<h3>@ViewBag.PaperErrors</h3>

<div style="
">
<img class="Room" src="https://topsourcemedia.com/wp-content/uploads/2016/07/conference_room_transparent-3.png" alt="conference room">
</div>

<div class="
">
<img class="People" src="https://www.onrec.com/sites/onrec/directory/files/TradePics2.png" alt="peoplecircles">
</div> 

<div style="
        left: 0;
        line-height: 200px;
        margin-top: -300px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;">
        <h2 class="fontA" style="font-size: 120px"><strong>@DateTime.Now.Year Conference</strong></h2>
</div>

<div style="
        left: 0;
        line-height: 200px;
        margin-top: -210px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;">
        <h1 class="fontB" > Consortium for Computing Sciences in Colleges Midwest (CCSCMW)</h1>
        <h1 class="fontB" > July 10-12, @DateTime.Now.Year</h1>

</div>

<div style="
        left: 300px;
        line-height: 30px;
        margin-top: -210px;
        position: absolute;        
        text-align: center;
        top: 70%;
        width: 75%;
        font-size: 31px;>

        <h3 class="fontC"> Welcome to the homepage of the Consortium for Computing Sciences in Colleges Midwest (CCSCMW)! <br />
                           The Summer 2022 Conference will be held July 10th-12th, 2022. <br />
                           The conference can be attended in-person, or online via Teams. <br />
                           Authors will have the chance to present their papers to us in order to be reviewed. </h3>

</div>

@*<div style="
height: 200px;
        width: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -110px;">
        <p><a asp-action="Login" class="main-button" style="border: none;">Login</a></p>
</div>*@


<div class="
">
<img class="Books" src="https://clipartion.com/wp-content/uploads/2015/11/stack-of-books-clipart-black-and-white-free.png" alt="Books on shelf" width="460" height="310">
</div> 

