@*
    The purpose of this page is to throw an error to users who have attemopted loggin in using illegal characters
*@

@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
<h2>You have attempted to login using illegal characters</h2>
<a href="/Home/Login">Return</a>
