@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Identity Theft is Not a Joke, Jim!</p>
<div class="">
<img class="Office" src="https://i.pinimg.com/originals/37/43/8d/37438d5a4a980276af794d328769f693.jpg" alt="jimdwight" width="550" height="420">
</div>
