@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Register";
}

<h1>Register for an account</h1>

<div>
    <a asp-controller="Authors" asp-action="Create">Register as an Author</a>
</div>

<div>
    <a asp-controller="Reviewers" asp-action="Create">Register as a Reviewer</a>
</div>

