@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Reports";
}

<h1>View Reports</h1>

@* Display all available reports *@

<div>
    @* weighted average *@
    <a asp-controller="Papers" asp-action="WeightedAverage">Click to view Weighted Average Report</a>
</div>

<div>
    @* Scores *@
    <a asp-controller="Reviews" asp-action="Scores">Click to view Scores Report</a>
</div>

<div>
    @* Review Comments *@
    <a asp-controller="Reviews" asp-action="ReviewComments">Click to view Review Comments Report</a>
</div>
