@using Microsoft.Data.SqlClient
@using System.Data
@model IEnumerable<CPMS.Models.Paper>

@{
    ViewData["Title"] = "WeightedAverage";
}

<h1>Weighted Average Report</h1>

<table>
    <thead>
        <tr>
            <th>Paper ID</th>
            <th>Appropriateness of Topic</th>
            <th>Timeliness of Topic</th>
            <th>Supportive Evidence</th>
            <th>Technical Quality</th>
            <th>Scope of Coverage</th>
            <th>Citation of Previous Work</th>
            <th>Originality</th>
            <th>Organization of Paper</th>
            <th>Clarity of Main Message</th>
            <th>Mechanics</th>
            <th>Suitability for Presentation</th>
            <th>Potential Interest In Topic</th>
            <th>Overall Rating</th>
            <th>Filename</th>
            <th>Weighted Score</th>
        </tr>
    </thead>
    <tbody>
        @{ /*
            using(SqlConnection conn = new SqlConnection("Server=(localdb)\\mssqllocaldb;Database=CPMS.Data;Trusted_Connection=True;MultipleActiveResultSets=true"))
            {
                SqlCommand command = new SqlCommand("SELECT PaperID From Paper WHERE Active = 'True'", conn);

                conn.Open();

                using(SqlDataReader reader = command.ExecuteReader())
                {
                    //iterating through each active paper
                    while (reader.Read())
                    {
                        var PaperID = reader[0];

                        var GetReviewsByPaper = new SqlCommand($"SELECT AppropriatenessOfTopic FROM Review WHERE PaperID = '{PaperID}' AND Complete = 'True'", conn);

                        using (var Reviews = GetReviewsByPaper.ExecuteReader())
                        {
                            <tr>@Reviews[0]</tr>
                        }
                    }
            }
        }*/
    }
    
    @foreach (var item in Model) {
            //logic to display only records marked as active
            if (item.Active == true)
            {
                //each active paper's ID'
                var PaperID = item.PaperID;

                <tr>
                    <td>@PaperID</td>
                    @using(SqlConnection conn = new SqlConnection("Server=(localdb)\\mssqllocaldb;Database=CPMS.Data;Trusted_Connection=True;MultipleActiveResultSets=true"))
                    {
                        SqlCommand command = new SqlCommand($"SELECT ROUND(AVG(CAST(AppropriatenessOfTopic AS FLOAT)), 2), ROUND(AVG(CAST(TimelinessOfTopic AS FLOAT)), 2), ROUND(AVG(CAST(Originality AS FLOAT)), 2) FROM Review WHERE PaperID = '{PaperID}';", conn);

                        conn.Open();

                        using(SqlDataReader reader = command.ExecuteReader())
                        {
                            //reader.Read();

                            try
                            {
                                while (true)
                                {
                                    reader.Read();
                                    <td>@reader[0]</td>
                                }
                            }
                            catch { }
                        }
                    }
                </tr>
            }
    }

        </tbody>
    </table>

